.salary-header {
    background-color: #2b7a78;
    font-family: 'Open Sans', sans-serif;
    color: #feffff;
}

.brought-to-you {
    font-size: 8pt;
}

.content-container {
    background-color:#3aafa9;
    color: #feffff;
    font-family: 'Open Sans', sans-serif;
}

.below {
    font-size: 10pt;
}

.form-control {
    background-color: #3aafa9;
     color: white;
}

.table-header-row {
    color: white;
}

.header {
    color: white;
}

#totalMonthly {
    text-align: right;
}